# Виртуальное окружение
venv/
env/
.venv/

# Python
__pycache__/
app/__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# БД
*.db
*.sqlite
*.sqlite3

# Логи
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# ENV
.env
.env.local

# Файлы отчетов
reports/
exports/
# db
callbacks.db